@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color:#7C8E95;
	background: #fff;
}
body.overlay-open{
	overflow: hidden;
}
.overlay {
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: rgba(0,0,0,.5);
}
p a, footer a {
	color: #00AFBC;
	font-weight: 600;
}
h1,h2,h3,h4,h5,h6{
	color:#000;
	font-weight: 300;
}
.mb-9 {
	margin-bottom: 50px;
}
.navbar-dark .navbar-toggler {
	border:0px;
}
.navbar-collapse.collapsing, .navbar-collapse.show {
	background: #fff;
	padding: 25px;
	border-radius: 9px;
}
.navbar-collapse.collapsing .nav-link, .navbar-collapse.show .nav-link {
	text-align: center !important;
	color:#5E5E5E !important;
	font-size: 18px !important;
	margin-bottom: 15px;
}
.navbar-collapse.collapsing .navbar-btn, .navbar-collapse.show .navbar-btn {
	width: 100%;
	box-shadow: none;
}
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
	
.btn-primary {
	background: #5AD6E1;
	box-shadow: 0px 3px 12px rgba(0,0,0,.29);
	padding: 12px 20px;
	border:0px;
	font-weight: 600
}
.btn-primary:hover {
	background: #19becd;
}
.navbar {
	transition: linear 0.25s all
}
.navbar-dark .navbar-nav .nav-link {
	position: relative;
	color:#fff;
	font-size: 14px;
	letter-spacing: -0.25px;
	font-weight: 600;
	padding: 0.5rem 1rem;
}
#magicline{
	position: absolute;
	bottom: 10px;
	height: 2px;
	width: 100%;
	background: #fff;
}
.navbar-dark .navbar-btn{
	padding: 10px 15px;
}
.color-bar{
	width: 100%;
	height:6px;
	position: absolute;
	top:0px;
	left: 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6d17+0,ff6d17+25,5ad6e1+25,5ad6e1+40,a162ca+40,a162ca+50,f2c438+50,f2c438+73,e33654+73,e33654+90,3f9ee8+90,3f9ee8+100 */
	background: #ff6d17; /* Old browsers */
	background: -webkit-linear-gradient(left, #ff6d17 0%,#ff6d17 25%,#5ad6e1 25%,#5ad6e1 40%,#a162ca 40%,#a162ca 50%,#f2c438 50%,#f2c438 73%,#e33654 73%,#e33654 90%,#3f9ee8 90%,#3f9ee8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff6d17 0%,#ff6d17 25%,#5ad6e1 25%,#5ad6e1 40%,#a162ca 40%,#a162ca 50%,#f2c438 50%,#f2c438 73%,#e33654 73%,#e33654 90%,#3f9ee8 90%,#3f9ee8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.primary-hero {
	background: #979797 url('/img/jumbotron-bg.png') center center;
	background-size: cover;
	min-height: 650px;
	text-align: center;
}
.primary-hero h1, .primary-hero p {
	color:#D8D8D8;
	font-weight: 300;
}
.primary-hero p {
	font-weight: 400;
}
.primary-hero h1 strong {
	font-weight: 600;
}
.logo-slider {
	position: relative;
	overflow-x: hidden;
    white-space: nowrap;
}
.logo-slider .slide {
	text-align: center;
	padding-top:15px;
	padding-bottom: 15px;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	width:100%;
	padding-right: 15px;
	padding-left: 15px;
}
.logo-slider .slide img{
	height: auto;
}
section#works{
	padding-top: 70px;
	padding-bottom: 50px;
}
section#works h2, section#works p {
	text-align: center;
}
section#works p{
	margin-bottom:2rem
}
section#works h6, section#works h5{
	text-align: left;
	font-weight: 600
}
section#works p strong {
	color:#000;
}
section#works .card {
	background-color: #F3F3F3;
	border:0px;
}
rotated-images {
	position: relative;
	overflow: hidden;
}
.image-wrapper {
	width: 488px;
	height: 148px;
	box-shadow: 0px 1px 22px rgba(0,0,0,.34);
	background: #fff;
	transform: rotate(-3deg);
	max-width: 90%;
	overflow:hidden;
}
.image-wrapper:nth-child(3){
	position: absolute;
	top: 100px;
	left: 40px;
	transform: rotate(4deg);
	height:188px;
	margin-left: 30px;
	max-width: 80%;
}
.image-wrapper:nth-child(2){
	transform: rotate(-4deg);
	width: 393px;
	height:141px;
	margin-top:100px;
	max-width: 75%
} 
section#corporations{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5f1f6+0,f6f9fa+100 */
	background: #e5f1f6; /* Old browsers */
	background: -webkit-linear-gradient(45deg, #e5f1f6 0%,#f6f9fa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #e5f1f6 0%,#f6f9fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding-top: 70px;
	padding-bottom: 50px;
}
section#corporations h1, section#corporations p {
	text-align: center;
}
section#corporations p{
	margin-bottom:2rem
}
section#corporations h6, section#corporations h5{
	text-align: left;
	font-weight: 600
}
section#corporations .card {
	background-color: rgba(255,255,255,0.46);
	border:0px;
}
.cloud-holder{
	position: relative;
}
.cloud-holder img {
	width: 100%;
	height: auto;
}
.cloud-holder .logo {
	position: absolute;
	top:32%;
	left:13%;
	width: 76%;
	height: auto;
	z-index: 4;
}
.cloud-holder .dot-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	z-index: 2;
}
.cloud-holder .icon-holder {
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height:100%;
	z-index:3;
}

#line-holder{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.line{
  stroke-width:1px;
  stroke:rgba(63,158,232,0.25);
}

@keyframes redPulse {
    0% {box-shadow: 0px 0px 0px 3px rgba(231,62,94,0.40);}
    2% {box-shadow: 0px 0px 20px 5px rgba(231,62,94,0);}
    3% {box-shadow: 0px 0px 0px 3px rgba(231,62,94,0);}
    10% {box-shadow: 0px 0px 0px 3px rgba(231,62,94,0.40);}
    64% {box-shadow: 0px 0px 0px 3px rgba(231,62,94,0.40);}
    66% {box-shadow: 0px 0px 20px 5px rgba(231,62,94,0);}
    67% {box-shadow: 0px 0px 0px 3px rgba(231,62,94,0);}
    74% {box-shadow: 0px 0px 0px 3px rgba(231,62,94,0.40);}
}
@keyframes bluePulse {
    0% {box-shadow: 0px 0px 0px 3px rgba(63,158,232,0.31);}
    2% {box-shadow: 0px 0px 20px 5px rgba(63,158,232,0);}
    3% {box-shadow: 0px 0px 0px 3px rgba(63,158,232,0);}
    10% {box-shadow: 0px 0px 0px 3px rgba(63,158,232,0.31);}
}
@keyframes purplePulse {
    0% {box-shadow: 0px 0px 0px 3px rgba(161,98,202,0.31);}
    2% {box-shadow: 0px 0px 20px 5px rgba(161,98,202,0);}
    3% {box-shadow: 0px 0px 0px 3px rgba(161,98,202,0);}
    10% {box-shadow: 0px 0px 0px 3px rgba(161,98,202,0.31);}
}
@keyframes orangePulse {
    0% {box-shadow: 0px 0px 0px 3px rgba(255,109,23,0.33);}
    2% {box-shadow: 0px 0px 20px 5px rgba(255,109,23,0);}
    3% {box-shadow: 0px 0px 0px 3px rgba(255,109,23,0);}
    10% {box-shadow: 0px 0px 0px 3px rgba(255,109,23,0.33);}
}
@keyframes yellowPulse {
    0% {box-shadow: 0px 0px 0px 3px rgba(242,203,64,0.31);}
    2% {box-shadow: 0px 0px 20px 5px rgba(242,203,64,0);}
    3% {box-shadow: 0px 0px 0px 3px rgba(242,203,64,0);}
    10% {box-shadow: 0px 0px 0px 3px rgba(242,203,64,0.31);}
}
@keyframes greenPulse {
    0% {box-shadow: 0px 0px 0px 3px rgba(101,219,229,0.30);}
    2% {box-shadow: 0px 0px 20px 5px rgba(101,219,229,0);}
    3% {box-shadow: 0px 0px 0px 3px rgba(101,219,229,0);}
    10% {box-shadow: 0px 0px 0px 3px rgba(101,219,229,0.30);}
}
@keyframes cometFly {
	0%{top: 54%;left: 85%;}
	4% {top: 76%; left: 49.5%; background-color:#E33654}
	20% {top: 76%; left: 49.5%; background-color:#E33654}
	24% {top: 17%; left: 50.5%; background-color:#3F9EE8}
	36% {top: 17%; left: 50.5%; background-color:#3F9EE8}
	38% {top: 29%; left: 43%; background-color:transparent}
	40% {top: 28%; left: 33.5%; background-color:#A162CA}
	48% {top: 28%; left: 33.5%; background-color:#A162CA}
	52% {top: 55.5%; left: 19.5%; background-color:transparent}
	54% {top: 66%; left: 20%; background-color:#FF6D17}
	62% {top: 66%; left: 20%; background-color:#FF6D17}
	64% {top: 68%; left: 34.5%; background-color:#F2C438}
	66% {top: 75%; left: 39.5%;background-color:#FF6D17}
	68% {top: 76.5%; left: 50%; background-color:#E33654}
	76% {top: 76.5%; left: 50%; background-color:#E33654}
	80% {top: 71.5%; left: 73%; background-color:#F2C438}
	88% {top: 71.5%; left: 73%; background-color:#F2C438}
	90% {top: 42%; left: 67.5%; background-color:#3F9EE8}
	92% {top: 44%; left: 82%; background-color:#E33654}
	94% {top: 54%;left: 85%;background-color:#5AD6E1}
	100% {top: 54%;left: 85%;}
}
@keyframes bubbles {
	0% {transform: translatey(0px) translatex(0px) scale(1);}
	12% {transform: scale(.99);}
	25% {transform: translatey(2px) translatex(-2px) scale(1);}
	37% {transform: scale(.95);}
	50% {transform: translatey(-1px) translatex(2px) scale(1.03);}
	63% {transform: scale(.95);}
	75% {transform: translatey(3px) translatex(-1px) scale(.90);}
	87% {transform: scale(.95);}
	100% {transform: translatey(0px) scale(1);}
}

.comet {
	position: absolute;
	width:4px;
	height:4px;
	background:#5AD6E1;
	border-radius: 50%;
	animation-name: cometFly;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.cloud-holder .icon-holder .icons{
	position: absolute;
	animation-name: bubbles;
	animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.icons.flight {
	width: 19%;
	height: auto;
	top: 0%;
	left: 20%
}
.icons.work {
	width: 14%;
	height: auto;
	top: 13.5%;
	left: 68%;
	animation-delay: 3s;
}
.icons.dining {
	width: 13%;
	height: auto;
	top: 25%;
	left: 84.5%;
	animation-delay: 5s;
}
.icons.hotel {
	width: 18%;
	height: auto;
	top: 59%;
	left: 82%;
	animation-delay: 7s;
}
.icons.transport {
	width: 16%;
	height: auto;
	top: 78%;
	left: 47%;
	animation-delay: 9s;
}
.icons.tip {
	width: 11%;
	height: auto;
	top: 67.5%;
	left: 9%;
	animation-delay: 11s;
}
.cloud-holder .dot-holder .dot {
	position: absolute;
	width: 17px;
	height:17px;
	background: #F2C438;
	border-radius: 50%;
	border: 1px solid #fff;
	box-shadow:0px 0px 0px 2px rgba(242,203,64,0.31);
	
}
.cloud-holder .dot-holder .dot:nth-child(1){
	left: 72%;
	top: 70%;
	animation-name: yellowPulse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 12s;
}
.cloud-holder .dot-holder .dot:nth-child(2){
	width: 12px;
	height: 12px;
	border-color: #A162CA;
	box-shadow: none;
	background: #fff;
	left: 33.5%;
	top: 41%
}
.cloud-holder .dot-holder .dot:nth-child(3){
	width: 12px;
	height: 12px;
	border-color: #3F9EE8;
	box-shadow: none;
	background: #fff;
	left: 66.5%;
	top: 41%
}
.cloud-holder .dot-holder .dot:nth-child(4){
	width: 20px;
	height:20px;
	border-width: 2px;
	box-shadow: 0px 0px 0px 3px rgba(255,109,23,0.33);
	background: #FF6D17;
	left: 18.5%;
	top: 64%;
	animation-name: orangePulse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 8.1s;
}
.cloud-holder .dot-holder .dot:nth-child(5){
	width: 12px;
	height: 12px;
	border-color: #F2C438;
	box-shadow: none;
	background: #fff;
	left: 33.5%;
	top: 67%
}
.cloud-holder .dot-holder .dot:nth-child(6){
	width: 13px;
	height: 13px;
	border-color: #FF6D17;
	box-shadow: none;
	background: #fff;
	left: 38.5%;
	top: 74%;
}
.cloud-holder .dot-holder .dot:nth-child(7){
	width: 20px;
	height:20px;
	border-width: 2px;
	box-shadow: 0px 0px 0px 3px rgba(231,62,94,0.40);
	background: #E33654;
	left: 48.5%;
	top: 75%;
	animation-name: redPulse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 0.6s;
}
.cloud-holder .dot-holder .dot:nth-child(8){
	width: 12px;
	height: 12px;
	border-color: #3F9EE8;
	box-shadow: none;
	background: #fff;
	left: 12.5%;
	top: 48.5%
}
.cloud-holder .dot-holder .dot:nth-child(9){
	width: 12px;
	height: 12px;
	border-color: #A162CA;
	box-shadow: none;
	background: #fff;
	left: 37.5%;
	top: 16.5%;
}
.cloud-holder .dot-holder .dot:nth-child(10){
	width: 12px;
	height: 12px;
	border-color: #3F9EE8;
	box-shadow: none;
	background: #fff;
	left: 42.5%;
	top: 28%;
}
.cloud-holder .dot-holder .dot:nth-child(11){
	width: 9px;
	height: 9px;
	border-color: #F2C438;
	box-shadow: none;
	background: #fff;
	left: 59.5%;
	top: 69%;
}
.cloud-holder .dot-holder .dot:nth-child(12){
	width: 13px;
	height: 13px;
	border-color: #FF6D17;
	box-shadow: none;
	background: #fff;
	left: 80%;
	top: 76.5%;
}
.cloud-holder .dot-holder .dot:nth-child(13){
	width: 12px;
	height: 12px;
	border-color: #E33654;
	box-shadow: none;
	background: #fff;
	left: 81.5%;
	top: 43%;
}
.cloud-holder .dot-holder .dot:nth-child(14){
	width: 20px;
	height:20px;
	border-width: 2px;
	box-shadow: 0px 0px 0px 3px rgba(101,219,229,0.30);
	background: #5AD6E1;
	left: 83.5%;
	top: 52%;
	animation-name: greenPulse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 14.1s;
}
.cloud-holder .dot-holder .dot:nth-child(15){
	width: 12px;
	height: 12px;
	border-color: #FF6D17;
	box-shadow: none;
	background: #fff;
	left: 62%;
	top: 19.5%;
}
.cloud-holder .dot-holder .dot:nth-child(16){
	width: 8px;
	height: 8px;
	border-color: #A162CA;
	box-shadow: none;
	background: #fff;
	left: 71.5%;
	top: 23%;
}
.cloud-holder .dot-holder .dot:nth-child(17){
	width: 16px;
	height:16px;
	border-width: 2px;
	box-shadow: 0px 0px 0px 3px rgba(63,158,232,0.31);
	background: #3F9EE8;
	left: 49.5%;
	top: 16%;
	animation-name: bluePulse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 3.6s;
}
.cloud-holder .dot-holder .dot:nth-child(18){
	width: 21px;
	height:21px;
	border-width: 2px;
	box-shadow: 0px 0px 0px 3px rgba(161,98,202,0.31);
	background: #A162CA;
	left: 32%;
	top: 26%;
	animation-name: purplePulse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 6s;
}
.cloud-holder .dot-holder .dot:nth-child(19){
	width: 9px;
	height: 9px;
	border-color: #FF6D17;
	box-shadow: none;
	background: #fff;
	left: 19%;
	top: 37%;
}
.cloud-holder .dot-holder .dot:nth-child(20){
	width: 16px;
	height: 16px;
	border-color: #E33654;
	box-shadow: none;
	background: #fff;
	left: 18.5%;
	top: 54%;
}

section#suppliers{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f4a62+0,53828f+100 */
	background: #2f4a62; /* Old browsers */
	background: -webkit-linear-gradient(45deg, #2f4a62 0%,#53828f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #2f4a62 0%,#53828f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding-top: 70px;
	padding-bottom: 50px;
	overflow: hidden;
}

section#suppliers h1, section#suppliers p {
	text-align: center;
	color:#fff;
}
section#suppliers p{
	margin-bottom:2rem;
	color:#B8D3DB;
}
section#suppliers p.subtitle{
	color:#fff;
	opacity:0.40
}
section#suppliers h6, section#suppliers h5{
	text-align: left;
	font-weight: 600;
	color:#fff;
}
section#suppliers .card {
	background-color: rgba(255,255,255,0.46);
	border:0px;
}
section#suppliers .card p {
	color:#fff;
}
section#suppliers .screenshot{
	width: 100%;
	height: auto;
}

section#contact{
	background: #00AFBC url('/img/plane-bg.png') no-repeat center center;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
	overflow: hidden;
}
section#contact h1, section#contact p {
	text-align: center;
	color:#fff;
}
section#contact p.subtitle{
	opacity: .80;
}
.form-control, .custom-select-lg {
	background: #fff;
	border:0px;
	border-raidus: 4px;
	margin:0px;
	margin-bottom: 8px;
	color: rgba(148,  148,  148, 1);
	font-weight: 400;
	font-size 16px;
}
.custom-select-lg {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: rgba(148,  148,  148, 1);
}

.form-control::placeholder, .custom-select-lg::placeholder {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: rgba(148, 148, 148, 0.58);
}
section#contact form small{
	color:#fff;
}
section#contact form .btn[type="submit"] {
	width: 100%
}
section#contact form p{
	font-size: 12px;
}
.invalid-tooltip {
	top: 8px;
	right: 10px;
}
footer {
	position: relative;
}
footer .color-bar{
	bottom: 20px !important;
	top:auto;
}
footer .twitter, footer .linkedin {
	font-size: 50px;
	color:rgba(0,0,0,0.15);
}
footer .fine-print a {
	font-size: 13px;
	color:#A3A3A3
}

@media (min-width: 768px) {
	.primary-hero{
		text-align:left;
	}
	.primary-hero p {
		font-weight: 300;
	}
	
	.logo-wrapper {
		position: absolute;
		top:0px;
	}
	.logo-slider{
		min-height: 150px;
	}
	.logo-slider .slide{
		flex-basis: 0;
		flex-grow: 0;
		max-width: 100%;
		width:100%;
		padding-right: 0px;
		padding-left: 0px;
	}

	section#works, section#corporations, section#suppliers, section#contact{
		padding-top: 100px;
	}
	section#works p.subtitle {
		width: 48%;
		margin-bottom: 70px;
	}
	section#corporations p.subtitle {
		width: 35%;
		margin-bottom: 70px;
	}
	section#suppliers p.subtitle {
		width: 35%;
		margin-bottom: 70px;
	}
	section#contact p.subtitle {
		width: 35%;
		margin-bottom: 30px;
	}
	section .card p.card-text, section .card h5{
		text-align: left !important;
	}
	section#suppliers .screenshot{
		position: relative;
		width: 767px;
		height: auto;
		right:-12%;
	}
	section#suppliers .screenshot-holder{
		margin-bottom:-150px !important;
	}
	footer .plane {
		margin-top: -30px;
	}
	footer .color-bar{
		bottom: 5px !important;
		top:auto;
	}
}


